.nav {
  grid-column: 2 / 8;
  grid-row: 1/2;
  margin-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-white;
  @include respond(tab-port) {
    justify-content: space-between;
  }
  &-h3 {
    font-size: $h3-size;
    font-weight: 800;

    span {
      color: $color-primary-secondary;
    }
  }
  &-ul {
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-around;
    transition: all 0.5s ease-in-out;
    @include respond(tab-port) {
      position: absolute;
      font-size: 3rem;
      top: 0;
      left: 0;
      width: 100%;
      height: 20%;
      transform: translateY(-100%);
    }

    &.active {
      transform: translateY(0);
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: $color-primary-secondary;
    }
  }
  &-links:link,
  &-links:visited {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 0.2s;
    display: block;
    @include respond(tab-port) {
      // display: none;
    }
  }
  &-links:hover,
  &-links:active {
    background-color: rgba($color-white, 0.05);
    transform: translateY(-3px);
  }
}

.toggle-mobile {
  color: $color-white;
  font-size: 3rem;
  text-decoration: none;
  position: relative;
  z-index: 30;
}
