@import "./title.scss";

.project {
  grid-row: 4/5;
  grid-column: 2/8;
  margin-block: 10rem;
  color: $color-white;
  &-container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-top: 10rem;

    &-1 {
      display: flex;
      gap: 10rem;
      @include respond(tab-port) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      div {
        p {
          margin-top: 1rem;
          font-size: $p-size;
        }

        h5 {
          font-size: $h5-size;
        }
      }

      img {
        max-width: 30rem;
        border: 5px solid $gray-300;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }
    }
  }
}
.image-position {
  position: relative;
}

.image-project::after {
  content: "";
  border-bottom: 7px solid $gray-300;
  width: 140%;
  display: block;
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.btn-container {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  @include respond(tab-port) {
    justify-content: center;
  }
  &-project {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    background-color: $color-dark-tertiary;
    font-size: 2rem;
    border-radius: 2rem;
    color: inherit;
  }
}
